vagrant_ansible/


.git/
.github/

.vagrant/


*.log
*.swp
*.bak
*.tmp


README.md
LICENSE


app/node_modules/
npm-debug.log
yarn-error.log


.vscode/
.idea/

build/
dist/

# Next / Docker ignores
node_modules
.next
Dockerfile*
.dockerignore
.DS_Store
coverage
dist
